<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>虞美人</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>2.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>网红脸</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>3.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>凤姐</string>
				<key>vip</key>
				<string>5.jpg</string>
			</dict>
		</array>
		<key>name</key>
		<string>安寨小学</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>虞美人</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>虞美人</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>虞美人</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>虞美人</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>虞美人</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>虞美人</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>1.png</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>虞美人</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>杨楼小学</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>8.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>城郊小学</string>
		<key>online</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>方法</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>方法</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>方法</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>方法</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>方法</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>方法</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>方法</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>9.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>方法</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>城郊中学</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>信阳市十中</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>11.jpg</string>
				<key>intro</key>
				<string>人民的力量正伟大</string>
				<key>name</key>
				<string>马云</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>11.jpg</string>
				<key>intro</key>
				<string>人民的力量正伟大</string>
				<key>name</key>
				<string>马云</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>11.jpg</string>
				<key>intro</key>
				<string>人民的力量正伟大</string>
				<key>name</key>
				<string>马云</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>11.jpg</string>
				<key>intro</key>
				<string>人民的力量正伟大</string>
				<key>name</key>
				<string>马云</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>11.jpg</string>
				<key>intro</key>
				<string>人民的力量正伟大</string>
				<key>name</key>
				<string>马云</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>11.jpg</string>
				<key>intro</key>
				<string>人民的力量正伟大</string>
				<key>name</key>
				<string>马云</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>息县一高</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我爱中国</string>
				<key>name</key>
				<string>俞敏洪</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我爱中国</string>
				<key>name</key>
				<string>俞敏洪</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我爱中国</string>
				<key>name</key>
				<string>俞敏洪</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我爱中国</string>
				<key>name</key>
				<string>俞敏洪</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我爱中国</string>
				<key>name</key>
				<string>俞敏洪</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我爱中国</string>
				<key>name</key>
				<string>俞敏洪</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我爱中国</string>
				<key>name</key>
				<string>俞敏洪</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我爱中国</string>
				<key>name</key>
				<string>俞敏洪</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我爱中国</string>
				<key>name</key>
				<string>俞敏洪</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>信阳高中</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我的生命必须有......</string>
				<key>name</key>
				<string>于得水</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我的生命必须有......</string>
				<key>name</key>
				<string>于得水</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我的生命必须有......</string>
				<key>name</key>
				<string>于得水</string>
				<key>vip</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>13.jpg</string>
				<key>intro</key>
				<string>我的生命必须有......</string>
				<key>name</key>
				<string>于得水</string>
				<key>vip</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>河南师范大学</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>郑州生活</string>
		<key>online</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>杭州生活</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>14.jpg</string>
				<key>intro</key>
				<string>坚持就是胜利</string>
				<key>name</key>
				<string>小鱼儿</string>
				<key>vip</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>社会生活</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
